@model IEnumerable<MovieFinder.Models.Movie>

@{
    ViewData["Title"] = "Index";
    int i = 0;
}

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        <p>
            <a asp-action="Create">Yeni film oluştur</a>
        </p>
    }
}

<h1>@TempData["director"]</h1>

<div class="line">
    @foreach (var item in Model)
    {
        <div class="card" id="movie">
            <a asp-action="MovieDetail" asp-route-id="@item.Id">   <img src="/img/filmler/@item.LogoUrl" alt="Avatar" style="width:100%"></a>

            <div class="container">
                <h4><b>@Html.DisplayFor(modelItem => item.NameTr)</b></h4>
                <p>Score: @Html.DisplayFor(modelItem => item.Score)</p>
            </div>
        </div>

    }
</div>
